{% extends 'layout.html' %}
 

{% block content %}
<div class="page">
    <link rel="stylesheet" href="../static/styles/searchbar.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <form class="form" action = "/analyse-stats" method = "post">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control form-input" name="filter" placeholder="Filtrer par artiste ou genre">
                    <span class="left-pan">
                        <div class="" data-toggle="buttons">
                            <label class="btn btn-lg btn-artist">
                                <input type="radio" name="artiste" id="option1" autocomplete="off">
                                Artiste
                            </label>
                            <label class="btn btn-lg btn-genre active">
                                <input type="radio" name="genre" id="option2" autocomplete="off">
                                Genre
                            </label>
                        </div>
                    </span>
                </form>
            </div>
        </div>
    </div>
    {% if name!="" %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Analyse de {{name}}</h1>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="container-grid">
        <div class="row">
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header">Popularité moyenne</div>
                    <div class="card-body">
                        <canvas id="popularityCanvas"></canvas>
                        {{ stats[0] }} %
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header">Mots les plus utilisés</div>
                    <div class="card-body">
                        <canvas id="wordsCanvas"></canvas>
                        Explicit content : {{ stats[3] }} %<br>
                        {% for word in stats[1] %}
                            {{ word[0] }}, {{ word[1] }}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if name!="" and artiste=="" and genre==""%}
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header">Genre et Artistes les plus connus</div>
                    <div class="card-body">
                        <canvas id="artistgenresCanvas"></canvas>
                        {% for artiste in stats[11] %}
                            {{ artiste }}<br>
                        {% endfor %}
                        <hr>
                        {% for genre in stats[12] %}
                            {{ genre }}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% elif artiste!="" %}
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header">Genre</div>
                    <div class="card-body">
                        <canvas id="artistgenresCanvas"></canvas>
                        {% for genre in stats[11] %}
                            {{ genre }}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header">Artiste</div>
                    <div class="card-body">
                        <canvas id="artistgenresCanvas"></canvas>
                        {% for artiste in stats[11] %}
                            {{ artiste }}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header">Musicalité</div>
                    <div class="card-body">
                        <canvas id="musicaliteCanvas"></canvas>
                        Danceability : {{ stats[4] }} %<br>
                        Speechiness : {{ stats[8] }} %<br>
                        Instrumentalness : {{ stats[9] }} %<br>
                        Key : {{ stats[5] }}<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header">Rythmique</div>
                    <div class="card-body">
                        <canvas id="rythmiqueCanvas"></canvas>
                        Tempo : {{ stats[10] }}<br>
                        Energy : {{ stats[6] }} %<br>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header">Durée moyenne</div>
                    <div class="card-body">
                        <canvas id="keyCanvas"></canvas>
                        {{ stats[2][0] }} s<br> 
                        {{ stats[2][1] }} min {{stats[2][2]}}s
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
