{% extends 'layout.html' %}
 

{% block content %}
<div class="page">
    <link rel="stylesheet" href="../static/styles/analyse-graph.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="../static/styles/analyse-stats.css">
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <form class="form" action = "/analyse-stats" method = "post">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control form-input" name="filter" placeholder="Filtrer par artiste ou genre">
                    <span class="left-pan">
                        <div class="" data-toggle="buttons">
                            <label class="btn btn-lg btn-artist">
                                <input type="radio" name="artiste" id="option1" autocomplete="off">
                                Artiste
                            </label>
                            <label class="btn btn-lg btn-genre active">
                                <input type="radio" name="genre" id="option2" autocomplete="off">
                                Genre
                            </label>
                        </div>
                    </span>
                </form>
            </div>
        </div>
    </div>
    {% if name!="" %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Analyse de {{name}}</h1>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="container-grid">
        <div class="row">
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header" style="font-size: 1.5rem;">Popularité moyenne</div>
                    <div class="card-body">
                        <span class="popularite">{{ stats[0] }} %</span>
                        <script>
                            var popularite = document.getElementsByClassName("popularite")[0];
                            var populariteValue = parseInt(popularite.innerHTML);
                            var red = 255;
                            var green = 0;
                            var stepSize = 255 / 100;
                            var step = 0;
                            while (step < populariteValue) {
                                green += stepSize;
                                if (green > 255) {
                                    green = 255;
                                }
                                red -= stepSize;
                                if (red < 0) {
                                    red = 0;
                                }
                                step += 1;
                            }
                            popularite.style.color = "rgb(" + red + "," + green + ",0)";
                        </script>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header" style="font-size: 1.5rem;">Mots les plus utilisés</div>
                    <div class="card-body top-container">
                        {% for word in stats[1] %}
                            <span class="top">{{ loop.index }}: "{{ word[0] }}" with {{ word[1] }} uses</span>
                        {% endfor %}
                        <br>
                        <span class="explicit">{{ stats[3] }} % with explicit content. </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if name!="" and artiste=="" and genre==""%}
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header" style="font-size: 1.5rem;">Genre et Artistes les plus connus</div>
                    <div class="card-body">
                        {% for artiste in stats[11] %}
                            <span class="artiste">{{ artiste }}</span>
                        {% endfor %}
                        <hr>
                        {% for genre in stats[12] %}
                            <span class="genre">{{genre }}</span> 
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% elif artiste!="" %}
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header" style="font-size: 1.5rem;">Genre</div>
                    <div class="card-body">
                        {% for genre in stats[11] %}
                            <span class="genre">{{genre }}</span> 
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header" style="font-size: 1.5rem;">Artiste</div>
                    <div class="card-body">
                        {% for artiste in stats[11] %}
                            <span class="artiste">{{ artiste }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header" style="font-size: 1.5rem;">Musicalité</div>
                    <div class="card-body">
                        <span class="danceability"> Danceability : {{ stats[4] }} %</span>
                        <span class="speechiness"> Speechiness : {{ stats[8] }} %</span>
                        <span class="instrumentalness"> Instrumentalness : {{ stats[9] }} %</span>
                        <span class="key">Clé majoritaire : {{ stats[5] }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header" style="font-size: 1.5rem;">Rythmique</div>
                    <div class="card-body">
                        <span class="tempo">Tempo Moyen: {{ stats[10] }} BPM</span>
                        <span class="energy">Energy : {{ stats[6] }} %</span> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-light mb-3" style="max-width: 36rem;">
                    <div class="card-header" style="font-size: 1.5rem;">Durée moyenne</div>
                    <div class="card-body">
                        
                        <span class="time">{{ stats[2][1] }} min {{stats[2][2]}}s ({{ stats[2][0] }} s)</span> 
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
